
img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bree Serif', serif;
}

.navbar-light .navbar-brand  {
    font-family: 'Bangers', cursive;
    font-size: 40px;
    color:purple;
}