
img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bree Serif', serif;
}

.navbar-light .navbar-brand  {
    font-family: 'Bangers', cursive;
    font-size: 40px;
    color:purple;
}

.navbar {
    background-color: whitesmoke;
}

.btn {
    border-radius: 0.5rem;
}

.display-4 {
    font-family: 'Press Start 2P', cursive;
}

.jumbotron {
    background-attachment: fixed;
    background-image: url(jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-shadow: 1px 1px 1px black;
}